<div>
    <form method="POST" action="/deletarprodutos/?_method=DELETE" >


            <label>id</label>
            <input type="number" id="nameid" name="id" placeholder="id">
            <button type="submit">deletar</button>




    </form>



</div>