<div id="productsid">
    <form action="/adicionarproduto" method="POST">
        <label>id</label>
        <input type="number" id="nameid" name="id" placeholder="id"> <br>
        <label for="">name</label>
        <input type="text" id="nameid" name="name" placeholder="name"> <br>

        <label for="">preco</label>
        <input type="number" id="nameid2" name="preco" placeholder="preco"> <br>
        <button type="submit">enviar</button>
    </form>


</div>