<div id="productsid">
    <form action="/todososprodutos" method="POST">
        <input type="text" id="nameid" name="produto" placeholder="produto">
        <input type="text" id="nameid2" name="categoria" placeholder="categoria">
        <button type="submit">enviar</button>
    </form>


</div>