<div id="productsid">
    <form action="/produtos/adicionar" method="POST">

        <label for="name">
            <span>name</span>
            <input type="text" name="name" id="name" placeholder="name">
          </label> <br><br>

        <!-- <label for="">name</label>
        <input type="text" id="nameid" name="name" placeholder="name" required> <br> -->

        <label for="">preco</label>
        <input type="text" id="preco" name="preco" placeholder="preco" required> <br>

        <button type="submit">enviar</button>
    </form>

</div>